/*GERAIS*/

/* Definindo variáveis para as fontes */
:root {
  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-destaque: 'Silkscreen', cursive;
}
/* Para usar diferentes pesos da Montserrat */
.texto-fino {
  font-weight: 300;
}

.texto-normal {
  font-weight: 400;
}

.texto-negrito {
  font-weight: 700;
}

*{ /*Resetar o documento*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100%;
  position: relative;
  background: linear-gradient(180deg, #220E2A 14%, #411348 80%);
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

h2.titulo2{
  color: #fff;
  font-size: 35px;
  font-family: var(--fonte-destaque);
  font-weight: 500;
  text-align: center;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--fonte-principal);
  color: #fff;

  background: #6F0C97;
  border: none;
  border-radius: 30px;

  cursor: pointer;
}

.btn-contato button:hover{
  box-shadow: 0px 0px 8px #700c97ab;
}

hr {
  border: 2px solid #9d2eae75;
   box-shadow: 
    0 -10px 30px #9D2EAE;
}

/*ESTILO CABEÇALHO */

header{
  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  width: 250px; 
}

header .logo img{
  width: 100%;
  object-fit: contain; /* garante que não corte a imagem */
}

header a{
  color: #e0e0e0;
  font-family: var(--fonte-principal);
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: #fff;
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

/*ESTILO HERO*/
section.hero{
  padding: 40px 4% 80px 4%;
  display: flex;
  align-items: center;
}

section.hero .flex{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 80px; /*Espaço entre a foto e texto*/
}

.foto-hero img{
  border-radius: 320px;
  background: transparent;
  box-shadow: 
    0 0 20px #9D2EAE,            
    0 0 40px rgba(157,46,174,0.6),
    0 0 80px rgba(157,46,174,0.25); 
  }


.hero .foto-hero img{
  width: 320px;
  position: relative;
  animation: flutuar 1s ease-in-out infinite alternate;
}

/*animação da foto*/
@keyframes flutuar{
  0%{
    top: 0px;
  }
  100%{
    top: 20px;
  }
}

.txt-hero{
  max-width: 500px;
  color: #fff;
} 

.txt-hero h1{
  font-family: var(--fonte-destaque);
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.txt-hero h2{
  font-family: var(--fonte-principal);
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  color: #e0e0e0;
  margin-left: 15px;
  margin-bottom: 4px;
}

.txt-hero h2 span{
  color:#9D2EAE;
  font-weight: 500;
}

.txt-hero p{
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: #fff;
  margin-left: 25px;
}

div.bolinhas img{
  width: 20px;
}

/*ESTILO DE ESPECIALIDADE*/
section.stacks{
  padding: 40px 4%;
}

.stacks .stacks-icons{
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.stacks .stacks-icons img{
  width: 80px;
  padding: .875rem;
  background-color: #240431;
  border-radius: 15px;
  box-shadow: 0 5px .875rem #a022d18f;
}

.tt2 img {
  width: 80px;
}

.tt2 {
  display: flex;
  /* border: solid red; */
  padding: 16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/*ESTILO PROJETOS*/
section.projetos{
  padding: 40px 4%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.caixa{
  position: relative;
  background-color: #220E2A;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  box-shadow: 0 5px .875rem #a022d18f;
  margin: 20px;
}


.caixa img[src*="/gatinho logo.png"] {
  width: 60px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.imgs-caixa{
  width: 200px;
  margin: auto;
}

.imgs-caixa img{
  width: 100%;
  border-radius: 10px;
}

.caixa h3{
  font-family: var(--fonte-principal);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caixa .icons-caixa{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

.caixa .icons-caixa img{
  width: 100%;
}

/*ESTILO CONTATE-ME*/

section.formulário{
  padding: 80px 4%;
}

section.formulário h2{
  margin-bottom: 10px;
}

form{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
  justify-content: center;
}

form input[type="text"],
form input[type="email"],
form textarea{
  width: 100%;
  background-color: #240431;
  border: 1px solid #220E2A;
  outline: none;
  padding: 15px 10px;
  border-radius: 12px;
  color: #fff;
  box-shadow: inset 0 3px 8px #0000007e;
  font-family: var(--fonte-principal);
  font-size: 15px;
}

form textarea{
  min-height: 140px;
  resize: vertical;
}

form .btn-enviar{
  text-align: center;
  margin-top: 10px;
}

.btn-enviar input[type="submit"]{
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--fonte-principal);
  color: #fff;

  background: #6F0C97;
  border: none;
  border-radius: 30px;

  cursor: pointer;
}

.btn-enviar input[type="submit"]:hover{
  box-shadow: 0px 0px 8px #700c97ab;
}

/* ESTILO DO RODAPÉ */

footer {
  padding: 40px 4%;
  background-color: #220E2A;
  box-shadow: 0 0 40px 10px #54195e;
  color: #fff;
}

footer .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo-footer img {
  width: 230px;
}

.btn-social {
  display: flex;
  gap: 10px;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-social button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px 10px #700c975e;
}

.btn-social img {
  width: 60px;
}

footer .linha2-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .linha2-footer p {
  color: #fff;
  font-family: var(--fonte-principal);
  font-size: 12px;
  display: flex;
  align-items: center;
}

footer .linha2-footer img {
  width: 14px;
  margin-right: 8px;
}

footer .linha2-footer p a {
  color: #fff;
  text-decoration: none;
}

footer .linha2-footer p a:hover {
  text-decoration: underline;
}